body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}

.App {
  display: flex;
}

.Text {
  flex: 1;
}

.Structure {
  flex: 1;
  white-space: pre-line;
  background-color: lightgrey;
}

.node-block {
  margin: 10px;
  background-color: green;
  color: white;
}

.node-ref {
  margin: 10px;
  background-color: cyan;
  color: black;
}

.node-text {
  margin: 10px;
  background-color: blue;
  color: white;
}
